@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    border: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

nav{
    background-color: white;
}

.genLa{
    max-width: 1300px;
    margin: auto;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.navBar>i{
    display: none;
}

.logo{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    font-style: bold;
}

.logo>img{
    height: 32px;
    width: 50px;
}

#navList{
    display: none;
}

.navList>ul{
    display: flex;
    align-items: center;
    gap: 4rem;
    text-transform: capitalize;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.navList a{
    transition: color .1s ease;
}

.navList a:hover{
    color: #B88E2F;
}

.navList a.active{
    color: #B88E2F;
}

.navList>ul>li>a{
    color: black;
    font-size: 16px;
}

.navItems{
    display: flex;
    gap: 1.5rem;
    font-size: 1.3rem;
}

.banner{
    background-image: url(img/scandinavian-interior-mockup-wall-decal-background\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 35rem;
    /* background-size: covers; */
    position: relative;
}

.bannerContent{
    position: absolute;
    bottom: 12%;
    right: 5%;
    width: 30rem;
    padding: 2rem;
    background-color: #FFF3E3;
}

.bannerContent>h5{
    text-transform: uppercase;
    font-family: "Poppins", serif;
    font-style: normal;
    font-weight: 400;
}

.bannerContent>h1{
    font-family: "Poppins", serif;
    font-style: bold;
    text-transform: capitalize;
    width: 17rem;
    color: #B88E2F;
    margin-top: -1rem;
}

.bannerContent>p{
    font-family: "Poppins", serif;
    font-style: normal;
    font-size: .8rem;
    font-style: medium;
    margin-top: -1rem;
}

.bannerContent>button{
    height: 2rem;
    width: 6rem;
    background-color: #B88E2F;
    text-transform: uppercase;
    font-family: "Poppins", serif;
    font-weight: bold;
    color: #fff;
    font-size: .7rem;
}

@media (min-width:360px) and (max-width:800px) {
    .navBar>i{
        display: block;
        cursor: pointer;
    }

    #navList{
        display: none;
        position: absolute;
        width: 24rem;
        padding-top: 6rem;
        padding-left: 2rem;
        height: 35rem;
        top: 3rem;
        z-index: 1;
        left: -100%;
        background-color: rgba(255, 248, 248, 0.822);
        opacity: .97;
        border-bottom: 4px solid wheat;
        font-size: 1.5rem;
        text-align: center;
        transform: translate(100%, 0);
        transition: transform 1s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #navList>ul>li>a{
        color: black;
        text-transform: capitalize;
    }

    #navList>ul>li{
        text-align: center;
        width: 21rem;
        border-bottom: 1px solid black;
        margin-bottom: 3rem;
    }

    #navList a{
        transition: color .5s ease;
    }
    
    #navList a:hover{
        color: #B88E2F;
    }
    
    #navList a.active{
        color: #B88E2F;
    }
    

    .navList{
        display: none;
    }

    nav{
        margin-top: -1rem;
    }

    .banner{
        background-size: cover;
    }

    .bannerContent{
        position: absolute;
        bottom: 12%;
        right: 5%;
        width: 20rem;
    }
    
}

.range>h1{
    text-align: center;
    text-transform: capitalize;
    font-family: "Poppins", serif;
    font-weight: bold;
}

.range{
    margin-block: 3rem;
}
.range>p{
    text-align: center;
    text-transform: capitalize;
    font-family: "Poppins", serif;
    font-weight: 200s;
    font-size: .8rem;
    margin-top: -1rem;
    font-style: normal;
}

.rang{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* height: 60vh; */
    margin-block: 4rem;
    /* border: 2px solid; */
}

.ranImg>img{
    border-radius: 10px;
    height: 25rem;
}

.ranImg>h3{
    text-transform: capitalize;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: -12rem;
    color: black;
    text-align: center;
}

@media (min-width:360px) and (max-width:800px) {
    .rang{
        /* margin-top: 28rem;       */
        gap: 14rem;
        flex-direction: column;
    }
}